
<div class="form-check">
    <label for="{[{htmlPrefix}]}{[{ index }]}" class="form-check-label">
        {[{ rootScope.getFieldTitle(attributes, index) }]}
    </label><br>
    <button type="button"
            id="{[{htmlPrefix}]}{[{ index }]}"
            ng-model="datasource"
            name="{[{htmlPrefix}]}{[{index}]}"
            class="btn btn-lg btn-toggle"
            autocomplete="off"
            ng-class="{active: datasource}"
            ng-click="datasource = !datasource;"
    >
        <div class="handle"></div>
    </button>
</div>