<div class="form-group" ng-class="{error: rootScope[rootScope.form][htmlPrefix + index].$invalid}">
    <label for="{[{htmlPrefix}]}{[{ index }]}">{[{ rootScope.getFieldTitle(attributes, index) }]}</label>

    <div ng-repeat="item in attributes.options">
        {[{ ::item.id }]}<br>
        {[{ ::item.label }]}
    </div>

    <select class="form-control"
            name="{[{::htmlPrefix}]}{[{ ::index }]}"
            id="{[{::htmlPrefix}]}{[{ ::index }]}"
            ng-model="datasource"
            ng-required="rootScope.isRequired(attributes)"
            ng-cloak
    >
        <option ng-repeat="item in attributes.options" value="{[{item.id}]}">{[{ item.label }]}</option>
    </select>
</div>
