<div class="form-group">
    <label for="matrix">{[{ index }]}</label>
    <input type="text"
           id="matrix"
           ng-model="item[index]"
           name="matrix"
           class="form-control"

    >
</div>