<div class="form-group" ng-class="{error: $root.$$childTail[$root.$$childTail.form][htmlPrefix + index].$invalid}">
    <label for="{[{htmlPrefix}]}{[{ index }]}">{[{ rootScope.getFieldTitle(attributes, index) }]}</label>
    <input type="text"
           id="{[{htmlPrefix}]}{[{ index }]}"
           ng-model="datasource"
           name="{[{htmlPrefix}]}{[{ index }]}"
           class="form-control"
           unique="{[{index}]}"
           set-slug="{[{index}]}"
    >

    <ul class="errors" ng-cloak>
        <li ng-show="rootScope[rootScope.form][htmlPrefix + index].$error.unique">
            Dieser Wert wurde bereits vergeben
        </li>
    </ul>
</div>
