<div class="form-group" ng-class="{error: rootScope[rootScope.form][htmlPrefix + index].$invalid}">
    <label for="{[{htmlPrefix}]}{[{ index }]}">{[{ rootScope.getFieldTitle(attributes, index) }]}</label>

    <input type="number"
           id="{[{htmlPrefix}]}{[{ index }]}"
           ng-model="datasource"
           name="{[{htmlPrefix}]}{[{ index }]}"
           class="form-control"
           string-to-number
           ng-blur="rootScope.resetError(index)"
           ng-required="rootScope.isRequired(attributes)"
           required
    >
    <ul class="errors" ng-cloak>
        <li ng-show="rootScope[rootScope.form][htmlPrefix + index].$error.number">
            Nur Zahlen sind erlaubt
        </li>
    </ul>
</div>