<div class="form-group">
    <label for="matrix">{[{ $root.$$childTail.getFieldTitle(attributes, index) }]}</label>
    <ul class="list-group" ui-sortable="sortableOptions" ng-model="datasource">
        <li class="list-group-item" ng-repeat="x in datasource">
            <module-relations x="x" item="datasource" index="index" model="attributes['relatedTo']['model']"></module-relations>
        </li>
    </ul>
    <a href="#{[{ htmlPrefix }]}{[{index}]}" class="btn btn-default" data-toggle="modal" ng-click="$root.$$childTail.cacheRelations(datasource);" >Add Relation</a>
</div>


<div class="modal fade" id="{[{ htmlPrefix }]}{[{index}]}">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </a>
                <h4 class="modal-title">Relations for {[{ index }]}</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm">
                            <table class="table selectable table-striped">
                                <thead>
                                <tr>
                                    <td>Title</td>
                                    <td>Eintragsdatum</td>
                                </tr>
                                </thead>
                                <tbody ng-repeat="relation in $root.$$childTail.allRelations[attributes['relatedTo']['model']]">
                                <tr ng-class="{selected: $root.$$childTail.inArray(datasource, relation.id)}"
                                    data-title="{[{ relation.title }]}"
                                    data-id="{[{ relation.id }]}"
                                    ng-click="$root.$$childTail.relationTableToggleSelected(datasource, relation.id)"
                                >
                                    <td>
                                        <a href="" >{[{ relation.title }]}</a>
                                    </td>
                                    <td>
                                        {[{ relation.createDate }]}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </ul>
                        </div>
                    </div>
                </form>

            </div> <!-- /.modal-body -->
            <div class="modal-footer">
                <button class="btn btn-default"data-dismiss="modal" aria-hidden="true">Add</button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="datasource = $root.$$childTail.restoreCache(datasource);">Cancel</button>
            </div>
        </div>
    </div>
</div>



