<div class="form-group" ng-class="{error: rootScope[rootScope.form][htmlPrefix + index].$invalid}">
    <label for="{[{ index }]}">{[{ index }]}</label>
    <ng-quill-editor
            theme="snow"
            id="{[{ index }]}"
            ng-model="datasource"
            name={[{index}]}"
            ng-blur=""
            on-content-changed="myCallback(editor)"
            on-editor-created="rootScope.editorCreated(editor, '{[{index}]}')"
    >

    </ng-quill-editor>

</div>