{% set class = class(entry) %}

<div ng-controller="entryController" class="entryController" data-id="{{ entry.id }}" data-class="{{ class }}">
    {% if inModal is defined and inModal %}
        <div class="modal-body">
    {% endif %}
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" name="{{ class }}Form">

        <ul class="nav nav-tabs">
            <li ng-repeat="tab in fieldLayout" ng-class="::{'active':$last}">
                <a data-toggle="tab" href="#Tab{[{::tab.id}]}">{[{::tab.label}]}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="Tab{[{::tab.id}]}" class="tab-pane fade in"  ng-class="::{'active':$last}" ng-repeat="tab in fieldLayout">
                <h3>{[{::tab.label}]}</h3>
                <div ng-repeat="(index, item) in tab.fields">
                    <div thin-directive="{[{item[0]}]}" root-scope="rootScope" datasource="data[index]" index="index"  prefix="" attributes="item"> </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="action" value="action/entry/save">
        <input type="hidden" name="class" ng-model="entryClass">
        {% if inModal is not defined or not inModal %}
            <input type="button" class="btn btn-danger pull-right" ng-click="send()" value="senden">
        {% endif %}
    </form>
    {% if inModal is defined and inModal %}
        </div> <!-- /.modal-body -->
    <div class="modal-footer">
        <input type="button" class="btn btn-default" ng-click="send()" value="senden">
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    {% endif %}
</div>


{% if inModal is not defined or not inModal %}
    <div id="modalFormContainer">

    </div>
{% endif %}

{% includeJsFile 'entryController.js'%}