<script type="text/javascript">

</script>


<div ng-controller="entryController{{ entry.id }}">
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {% for key, attribute in attributes %}
            {% set currentTimestamp = 'currentTimestamp' %}
            {% if attribute['default'] is not defined or (attribute['default'] is not same as ("currentTimestamp") and attribute['default'] is not same as ("creationTimestamp")) %}
                {% include 'forms/fields/'~attribute[0] ~ '.twig' with {
                    'key': key,
                    'attribute': attribute
                }%}
            {% endif %}
        {% endfor %}
        <input type="hidden" name="action" value="action/home/save">
        <input type="button" ng-click="send()" value="senden">

        <!--<input type="text" ng-model="data.text" name="data[text]" value="">{[{data.text}]}-->

    </form>
</div>

<script type="text/javascript">
    myApp.controller('entryController{{ entry.id }}', ['$scope','$http', function($scope,$http) {
        $scope.data = {};
        $.each(entry, function(index, item){
            $scope.data[index] = item;
        });

        $scope.send = function(){
            console.log($scope.data);
            $http({
                method: 'POST',
                url: '',
                data: {
                    action: "home/test", entry: $scope.data
                }
            }).then(function successCallback(response) {
                console.log(response);
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }
    }]);
</script>