{% extends 'admin/layout/site.twig' %}
{% set pageHeadline = "Record Liste" %}
{% block content %}
    <ul class="list-group" ng-controller="recordController" ng-cloak>
        <li class="list-group-item" ng-repeat="record in data.records">
            <a href="{{ baseUrl }}action/record/edit/{[{::record.id}]}" ng-show="record.editable">
                {[{ ::record.name }]}
            </a>
            <span ng-show="!record.editable">
                {[{ ::record.name }]}
            </span>
            <div class="pull-right">
                <a ng-show="record.editable" href="{{ baseUrl }}action/record/editEntryType/{[{::record.id}]}">Eintragstypen</a>
                <button type="button"
                        ng-model="record"
                        class="btn btn-lg btn-toggle"
                        autocomplete="off"
                        ng-class="{active: record.installed}"
                        ng-click="toggleInstall(record);"
                >
                    <div class="handle"></div>
                </button>
                {[{ record.installed }]}
            </div>
        </li>
    </ul>

    <a href="action/record/edit" type="button" class="pull-right btn btn-danger">New Record</a>
{% endblock %}

{% includeJsFile 'recordController.js'%}