{% extends 'admin/layout/site.twig' %}
{% set pageHeadline = 'Feld Layout' %}
{% block content %}


    <script type="text/ng-template" id="/tpl.html">
       <li class="list-group-item">{[{ ::e.title }]}</li>
    </script>

    <div ng-controller="bindFieldController" ng-cloak>
        <label>Feld Layout {{ record.name }}</label>
        <ul class="list-group list-group-small sortable"  ui-sortable="sortableOptions" ng-model="data.fields">
            <id-to-list  ng-repeat="item in data.fields" item="item" list="fields" template-url="/tpl.html"></id-to-list>
        </ul>

        <div>
            <label>Freie Felder</label>
            <ul class="list-group list-group-small sortable" ui-sortable="sortableOptions" ng-model="leftFields">
                <id-to-list  ng-repeat="item in leftFields" item="item" list="fields" template-url="/tpl.html"></id-to-list>
            </ul>
        </div>

        <button ng-click="send();" class="pull-right btn btn-danger">Senden</button>
    </div>
{% endblock %}

{% includeJsFile 'bindFieldController.js'%}