{% extends 'layout/site.twig' %}

{% block content %}
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="home/save">
        <input type="submit" value="submit">
        <input type="text" name="data[text]" value="regerger">
        <input type="hidden" name="data[test_id][]" value="1">
        <input type="hidden" name="data[test_id][]" value="2">
        <input type="text" name="data[pointsPlus]" value="3">
        <input type="text" name="data[pointsMinus]" value="3">
        <input type="text" name="data[correctAnswer]" value="2">
    </form>


    {% set criteria = craft.question.getCriteria() %}
    {% set entries = criteria.find({'text[~]': 'reg'}) %}
    {% for entry in entries %}
        {{ entry.text }}<br>
    {% endfor %}
{% endblock %}