<header>
    <a href="{{ baseUrl }}index.php">
        <div id="imageContainer"></div>
    </a>
    <div id="headline"></div>
    <div id="subheadline">{{ subheadline }}</div>
    <div id="navigation">
        <nav>
            {% import '_macros/menu.twig' as menu %}
            {{ menu.menu(craft) }}
            <div id="showLoginPanel">

            </div>
        </nav>
    </div>
</header>