<div class="headline">
    Nutzer anlegen
</div>
<h3>{NOTICE}</h3>
<form action="index.php?page=addUser" method="post">
    <input type="text" name="firstname" placeholder="Vorname" />
    <br/>
    <br/>
    <input type="text" name="lastname" placeholder="Nachname" />
    <br/>
    <br/>
    <textarea name="description" placeholder="Beschreibung"></textarea>
    <br/>
    <br/>
    <input type="text" name="profile_image" placeholder="Profilbild" />
    <br/>
    <br/>
    <input type="submit" name="submit" value="anlegen" />
</form>
<div class="clear"></div>