<div class="form-group">
    <label for="min_len">Mindestlänge</label><br>
    <small class="form-text text-muted">
        Mindestlänge der Buchstaben
    </small>
    <input type="number"
           id="min_len"
           ng-model="data.settings.min_len"
           name="min_len"
           class="form-control"
    >
</div>


<div class="form-group">
    <label for="max_len">Maximallänge</label><br>
    <small class="form-text text-muted">
        Maximale Anzahl der Buchstaben
    </small>
    <input type="number"
           id="max_len"
           ng-model="data.settings.max_len"
           name="max_len"
           class="form-control"
    >
</div>