<!-- start min-lenght -->
<div class="form-group" ng-class="{error: fieldForm.min_numeric.$invalid}">
    <label for="min_numeric">Mindestgröße</label><br>
    <small class="form-text text-muted">
        Kleinste Zahl
    </small>
    <input type="number"
           id="min_numeric"
           ng-model="data.settings.min_numeric"
           name="min_numeric"
           ng-minlength="0"
           class="form-control"
    >
    <ul class="errors" ng-cloak>
        <li ng-show="fieldForm.min_numeric.$error.number">
            Nur Zahlen sind erlaubt
        </li>
    </ul>
</div>
<!-- end min lenght -->

<div class="form-group" ng-class="{error: fieldForm.max_numeric.$invalid}">
    <label for="max_numeric">Maximalgröße</label><br>
    <small class="form-text text-muted">
        Größte mögliche Zahl
    </small>
    <input type="number"
           id="max_numeric"
           ng-model="data.settings.max_numeric"
           name="max_numeric"
           ng-minlength="0"
           class="form-control"
    >
    <ul class="errors" ng-cloak>
        <li ng-show="fieldForm.min_numeric.$error.number">
            Nur Zahlen sind erlaubt
        </li>
    </ul>
</div>

<div class="form-group" ng-class="{error: fieldForm.depth.$invalid}">
    <label for="maxLenght">Nachkommastellen</label><br>
    <small class="form-text text-muted">
        Anzahl der Stellen hinter dem Komma
    </small>
    <input type="number"
           id="depth"
           ng-model="data.settings.depth"
           name="depth"
           class="form-control"
           ng-minlength="0"
           ng-maxlength="1"
    >
    <ul class="errors" ng-cloak>
        <li ng-show="fieldForm.depth.$error.maxlength">
            Maximale Anzahl darf 9 nicht überschreiten
        </li>
        <li ng-show="fieldForm.depth.$error.number">
            Nur Zahlen sind erlaubt
        </li>
    </ul>
</div>