{% extends "admin/layout/_layout.twig" %}

{% block body %}

    <div class="row affix-row">
    {% block header %}
        {% include 'admin/layout/partials/header.twig' %}
    {% endblock %}


        <div class="col-sm-2 col-md-2 affix-content" style="padding-left: 0px">
                <div class="" style="margin-top: 50%; background: #cfcfcf; height: 40%">
                    <div style="height: 100%; width: 100%; padding: 10px;">
                        test
                    </div>
                </div>
        </div>

        <div class="col-sm-7 col-md-8 affix-content">
            <div class="container">

                {% if pageHeadline is defined %}
                    <div class="page-header">
                        <h3><span class="glyphicon glyphicon-th-list"></span> {{ pageHeadline }}</h3>
                    </div>
                {% endif %}

                {% block content %}


                {% endblock %}
            </div>
        </div>
    </div>
{#{% block footer %}
        {% include 'admin/layout/partials/footer.twig' %}
    {% endblock %}#}
{% endblock %}

