<div class="contentContainer">
<h4>Welcome</h4><br>
This little web page is based on the Android/IOS Game Terra Battle by Mistwalker and is meant to be a
little help for newer players who are not sure how to move and place their units. You can recreate 
your ingame scenario here and share it to other people in <a href="http://terrabattleforum.com/">Terra Battle Forum</a> in order to gain
advice. As soon as someone uploaded his move you can watch it as often as you want and try to do the same ingame.